{% extends "base.html.twig" %}


{% block menu %}
    <li class="nav-item">
        <a id="Forum" class="nav-link" href="{{ path("security_registration") }}">Inscription</a>
    </li>
    <li class="nav-item">
        <a id="Forum" class="nav-link" href="{{ path("security_connexion") }}">Connexion</a>
    </li>
{% endblock %}

{% block body %}
    
    <div class="jumbotron forum-form">
         <img src="https://t3.ftcdn.net/jpg/00/29/84/92/240_F_29849268_U1XPi0zHFgVPS3vo8PtTPKNOo1eY7jmS.jpg" alt="Une image" id="Register_Background">

        {{ form_start(form, {'attr': {'id' : 'Connexion'}, 'method': 'post', 'action': path('security_connexion') }) }}
        {{ form_row(form.Username, {'attr' : {'placeholder' : 'Nom d\'utilisateur'}, 'full_name' : '_username'})}}
        {{ form_row(form.Password, {'attr' : {'placeholder' : 'Mot de passe'}, 'full_name' : '_password'})}}

        <div class="button-form">
            <button type="submit" class="btn btn-success"> Se connecter </button>
        </div>
        {{ form_end(form)}}
    </div>

   
{% endblock %}