{% extends "base.html.twig" %}

{% block body %}

<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">administateur</th>
                <th scope="col">moderateur</th>
            </tr>
        </thead>
        <tbody>
            {% for users in user %}
                <tr class="table-light forum-table">
                    <td> {{ users.username }} </td>
                    <td> {{ users.mail }}</td>
                    <td> {{ users.roles|join(', ', ' and ') }}</td>
                    <td> <a href=" {{ path("moderation_role_administrator", {"id": users.id}) }} "> administateur</a></td>
                    <td> <a href=" {{ path("moderation_role_moderator", {"id": users.id}) }} "> moderateur</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}