{% extends "base.html.twig" %}

{% block menu %}
    {% if not app.user %}
        <li class="nav-item">
            <a id="Forum" class="nav-link" href="{{ path("security_registration") }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a id="Forum" class="nav-link" href="{{ path("security_connexion") }}">Connexion</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a id="Forum" class="nav-link" href="{{ path("security_logout") }}">Se déconnecter</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Messages</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Date de création</th>
                {% if is_granted("ROLE_ADMINISTRATOR") == true %}
                    <th scope="col">Actions</th>
                {% elseif is_granted("ROLE_MODERATOR") == true  %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr class="table-light forum-table">
                    <td><a href="{{ path("subject", {'id': subject.Id}) }}">{{subject.Title}}</a></td>
                    <td> 
                       {{  subject.Content|length > 50 ?  subject.Content|striptags|slice(0,50) ~ '...' : subject.Content|striptags|raw }}   
                    </td> 
                    <td>{{ subject.getUser.username }}</td>
                    <td>{{ subject.createdAt | date('d/m/Y') }}</td>
                    {% if is_granted("ROLE_ADMINISTRATOR") == true %}
                        <td><a href=" {{ path("removeSubject", {"subjectId": subject.ID }) }} ">supprimer</a></td>
                    {% elseif is_granted("ROLE_MODERATOR") == true  %}
                        <td><a href=" {{ path("removeSubject", {"subjectId": subject.ID }) }} ">supprimer</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(subjects) }} 
    <div class="jumbotron forum-form">
        {% if not app.user %}
        <div id="Not_Connected">
            <p>Veuillez vous <a href="{{ path("security_connexion") }}"> connecter  </a>  pour creer un sujet</p>
        </div>
            
        {% else %}
            {{ form_start(form) }}
            {{ form_row(form.Title) }}
            {{ form_row(form.Content, {"attr": {"placeholder": "Test"}}) }}
            <div class="button-form">
                 <button type="submit" class="btn btn-success"> Creer </button>
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
    
{% endblock %}