{% extends "base.html.twig" %}

{% block menu %}
    {% if not app.user %}
        <li><a href="{{ path("security_registration") }}"> Inscription </a></li>
        <li><a href="{{ path("security_connexion") }}"> Connexion </a></li>
    {% else %}
        <li><a href="{{ path("security_logout") }}"> Deconnexion </a></li>
        {% endif %}
{% endblock %}

{% block body %}

    <div id="Forum">
        <h1>Liste des sujets</h1>
        {% for comment in comments %}
            <div class="subject">
                    <a href="{{path("comment", {'id': comment.Id}) }}">{{comment.Title}}</a>
                    <p>{{comment.Content}}</p>
                    <p> {{comment.createdAt | date('d/m/Y') }} </p>
            </div>    
        {% endfor %}
    </div>

    {% if not app.user %}
        <div id="Not_Connected">
            <p>Veuillez vous <a href="{{path("security_connexion")}}"> connecter  </a>  pour creer un sujet</p>
        </div>
        
    {% else %}
        {{ form_start(form, {"attr": {"id": "Create"}}) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.Content) }}
        <div id="Create_Button">
            <button type="submit"> Creer </button>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}