{% extends "base.html.twig"%}

{% block menu %}
    {% if not app.user %}
        <li class="nav-item">
            <a id="Forum" class="nav-link" href="{{ path("security_registration") }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a id="Forum" class="nav-link" href="{{ path("security_connexion") }}">Connexion</a>
        </li>
    {% else %}
         <li class="nav-item">
            <a id="Forum" class="nav-link" href="{{ path("security_logout") }}">Se déconnecter</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}

<div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ subject.getUser.username }}</h5>
            <small>{{ subject.createdAt | date("h/m/Y") }}</small>
        </div>
        <p class="mb-1">{{ subject.Content }}</p>
    </div>
  {% for comment in comments %} 
    <div class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ comment.getUser.username }}</h5>
            <small>
                {# {% if not app.user %}
                    {{ comment.createdAt | date("h/m/Y") }} 
                {% else %}
                    {{ comment.createdAt | date("h/m/Y") }} <br>
                    <a href="{{ path("removeComment", {"subjectId": subject.Id, "commentId": comment.Id }) }}">Supprimer</a>
                {% endif %} #}

                    {% if is_granted("ROLE_ADMINISTRATOR") == true %}
                        {{ comment.createdAt | date("h/m/Y") }} <br>
                        <a href="{{ path("removeComment", {"subjectId": subject.Id, "commentId": comment.Id }) }}">Supprimer</a>
                    {% else %}
                        {{ comment.createdAt | date("h/m/Y") }} 
                    {% endif %}

            </small>
        </div>
        <p class="mb-1">{{ comment.Content }}</p>
    </div>
  {% endfor %} 
</div>

<div class="jumbotron forum-form">
    {% if not app.user %}
        <div id="Not_Connected">
            <p>Veuillez vous <a href="{{ path("security_connexion") }}"> connecter  </a>  pour commenter</p>
        </div>
    {% else %}
       {{ form_start(form, {"attr": {"id": "Lol"}}) }}
            {{ form_row(form.Content) }}
            <div class="button-form">
                 <button type="submit" class="btn btn-success"> Creer </button>
            </div>
            {{ form_end(form) }}
    {% endif %}
</div>

{% endblock %}